body, html {
    height: 100%;
}

body {
	background: #027DA6;
	text-align:center; /*For IE6 Shenanigans*/
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.navbar-def {
    background: #E6E6E6;
	font-family: 'Josefin Slab', serif;
}

#wrapper{
	background: #fff;
	width: 66%;
	margin: 0 auto;
	height: 100%;
}